* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
}

nav {
  padding: 20px;
  margin: 0px;
  border: 0px;
  text-align: center;
background-color: #008B8B
}

p {
  text-align: center;
  color: #008B8B
}


.title{
  justify-content:flex-start;
  align-content:center;
  text-align:center;
  background-color: #008B8B
}

section{
  display:flex
}

.photos {
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #008B8B;

}

img {
  height: 400px;
  width: 300px;
  object-fit: cover;

}

@media screen and (max-width: 768px) {

  .photos {
    flex-wrap: wrap;
    justify-content: space-around;

  }
}

  }
}

@media only screen and (max-width: 600px)
