* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
}

nav {
  padding: 20px;
  margin: 0px;
  border: 0px;
  text-align: center;
  background-color: #8adfdc;
  font-size: 200%;
  color: #313848:
}

p {
  padding: 20px;
  margin: 0px;
  border: 0px;
  text-align: center;
  color: #313848;
}

section {
  display:flex;
}

.title{
  justify-content:flex-start;
  align-content:center;
  text-align:center;
  background-color: #8adfdc;
  color: #735372;
  font-size: 200%;
}

.photos {
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #313848;
  border-radius: 10px;

}

img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  padding-bottom: 5px;
  padding-top: 5px;
}

.info {
  padding: 20px;
  margin: 0px;
  border: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  background-color: #8adfdc;
  font-size: 75%;
  color: #313848:

}

.submit-info {
  padding: 20px;
  margin: 0px;
  border: 20px;
  background-color: #8adfdc;
  font-size: 75%;
  align-content: center;

}

.text {
  color: #735372:

}

label{
  color: #735372;
  background-color: #8adfdc;

}
}
form {
  height: 20px;
  width: 60px;
  padding: 5px;
  text-align: center;
  color: #735372;
  background-color: #8adfdc;

}

button {
  height: 20px;
  width: 100px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  justify-content: space-evenly;
  color: #8adfdc;
  background-color: #313848;


}

@media screen and (max-width: 768px)  {

  .photos {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width : 320px) {

  /* .title{
    justify-content:flex-start;
    align-content:center;
    text-align:center;
    background-color: #8f758e;
    color: #8adfdc;
    font-size: 100%;
} */

  .photos {
    flex-wrap: wrap;
    justify-content: space-evenly;

  }

  .submit-info {
    flex-wrap: wrap;
    justify-content: space-evenly;

  }
}
